
*{
  margin: 0;
  padding: 0;
  font-size: 1.5vw;
}


a:hover {
  text-decoration: none;

}

#section1, #section2, #section3{
  background-color: lightblue;
  margin-bottom: 5px;
}
#headNav{
  width: 100%;
  height: 70px;
  line-height: 70px;
  font-size: 2vw;
}
#mainContent{
  display: flex;
  width: 100%;
  font-size: 2vw;
  padding: 80px 0;
}
#leftMain{
  background: white;
  box-shadow: 0 0 5px 1px #e3e5e8;
  width: 40%;
  padding: 0 15px;
  border-radius: 4px;
  margin-left: 10%;
}
#leftContent{
  padding: 20px;
}
#leftMain h1{
  font-size: 2vw;
  text-align: center;
  font-weight: normal;
}
#leftMain p{
  text-align: center;
  font-size: 1.5vw;
}

.input{
  width: 100%;
  box-shadow: inset 0 1px 3px 0 rgba(21,18,17,0.098);
  border: 1px solid #c5cbd5;
  border-radius: 4px;
}

button[type=submit]{
  margin-top: 15px;
  font-size: 2vw;
}

#leftTerm{
  font-size: 1vw;
}
#leftTerm a{
  font-size: 0.8vw;
}
#getPass{
  font-size: 1.3vw;
}

#getPass a{
  font-size: 1.0vw;
}
#leftMain h2{
  font-weight: normal;
  font-size: 1.5vw;
  text-align: center;
}

.font-size-1vw{
  font-size: 0.8vw;
}
.rightLine{
  border-right: 1px solid grey;
  height:15vw;
  width: 4.5vw;
  opacity: 0.8;
}
#midMain{
  width: 10%;
  display: flex;
  flex-direction: column;
}

#rightMain{
  background: white;
  box-shadow: 0 0 5px 1px #e3e5e8;
  width: 40%;
  height: 20vw;
  padding: 0 15px;
  border-radius: 4px;
  margin-right: 10%;
  padding: 20px;
}

#rightMain h1{
  font-size: 2vw;
  text-align: center;
  font-weight: normal;
}

#section3{
  padding: 25px 0;
}

#section3 ul {
  display: flex;
  list-style: none;
  margin: 0;
}
#section3 ul li{


}
#section3 a{
  padding:0 10px;
  font-size: 1vw;
  border-right: 1px solid grey;
}
#section3 p{
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  font-size: 1vw;
}
